
body {
	background-color: #69372B;
}

i {
	text-align: center;
}

/* Helper Classes */
 
.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.bottomMargin {
	margin-bottom: 10px;
}

.paddingtop {
		padding-top: 75px;
	}

.right {
}

/* FIRST FRAME */

	/* Background photo */
	.background {
		position: absolute;
	}

	#firstFrame {
		position: relative;
	}

	.jumbotron {
		background-color: rgba(105, 55, 43, 0.46);
	}

	.jumbotron h1 {
		color: #fff;
	}


/* SECOND FRAME */


	/* Form label should be bigger font to match bigger input */
	label {
		font-size: 25px;
		color: #fff;
	}

	.height {
		line-height: 50px;
	}

	/* Area to put the quote */
	#quoteHere {
		font-size: 18px;
		color: pink;
	}

	.fa {
		color: pink;
	}

	#mannequin {
		display: inline-block;
		position: relative;
	} 

/* THIRD FRAME (Gallery) */

	#gallery {
		position: absolute;
	}

	#artSpace {
		position: relative;
	}

	#draggable {
		position: absolute;
	}

	#quote {
		font-family: 'Waiting for the Sunrise';
		position: relative;
		font-size: 70px;
		color: pink;
	}


